ec2-provisioning/.terraform*
ec2-provisioning/.terraform/*
ec2-provisioning/terraform.tfstate*
ec2-provisioning/*.pem
ec2-bootstrap/.terraform*
ec2-bootstrap/.terraform/*
ec2-bootstrap/terraform.tfstate*
ec2-bootstrap/*.pem
ec2-remote-state/.terraform*
ec2-remote-state/.terraform/*
ec2-remote-state/terraform.tfstate*
ec2-remote-state/*.pem
project-development/*